body {
    background-image: url('https://github.com/nguyenanhnguyen/firsttime/blob/main/web_dev_project/assets_project_1/9741f0c6151635b29300e6f7656e1644.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}